.div1{
	text-align: left; /*让div内部文字居中*/
    background-color: #fff;
    border-radius: 20px;
   
    width: 30%;
    height: 70%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}
.submit{
	text-align: center;
}